<html>
    <head>
        <title></title>
        <script src="../script/home.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
        <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../css/cadastro.css" media="screen" />        
        <link rel="stylesheet" type="text/css" href="../css/login.css" media="screen" />     
        <link rel="stylesheet" type="text/css" href="../css/home.css" media="screen" />     
    </head>
    <body>
        <header>
            <a href="../index.html" class="logoGvn"><img src="../assets/logoGvn.png"></a>   
            <ul>
                <li class="headertext"><a href="./endereco.html">Cadastrar Endereço</li></a>
            </ul>
        </header>

        <section class="form_address">
            <h1 style="text-align: center;">Lista de Endereço!</h1>
            <div>
                <ul id="lista">
                </ul>
            </div>
        </section>
        

    </body>
</html>